@font-face {
    font-family: "Zulpiya";
    src: url("/assets/00_typos/zulpiya/Zulpiya-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cindyrella";
    src: url("/assets/00_typos/cindyrella/Cindyrella.ttf") format("truetype");
}

@font-face {
    font-family: "Din-condensed";
    src: url("/assets/00_typos/din-condensed/DIN-Medium.ttf") format("truetype");
}