@font-face {
    font-family: "Zulpiya";
    src: url("/sources/00_typos/zulpiya/Zulpiya-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Cindyrella";
    src: url("/sources/00_typos/cindyrella/Cindyrella.ttf") format("ttf");
}

@font-face {
    font-family: "Din-condensed";
    src: url("/sources/00_typos/cindyrella/Cindyrella.ttf") format("ttf");
}